<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.dbsi.dao.BusinessPackageMapper">
    <resultMap id="BaseResultMap" type="cn.edu.dbsi.model.BusinessPackage">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="groupid" property="groupid" jdbcType="INTEGER"/>
        <result column="isdelete" property="isdelete" jdbcType="CHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, groupid, isdelete
  </sql>
    <select id="selectLastPrimaryKey" resultType="java.lang.Integer">
    select id from businesspackage order by id DESC limit 1
  </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from businesspackage
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from businesspackage
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.edu.dbsi.model.BusinessPackage">
    insert into businesspackage (id, name, groupid, 
      isdelete)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{groupid,jdbcType=INTEGER}, 
      #{isdelete,jdbcType=CHAR})
  </insert>
    <insert id="insertSelective" parameterType="cn.edu.dbsi.model.BusinessPackage">
        insert into businesspackage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="groupid != null">
                groupid,
            </if>
            <if test="isdelete != null">
                isdelete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="groupid != null">
                #{groupid,jdbcType=INTEGER},
            </if>
            <if test="isdelete != null">
                #{isdelete,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.edu.dbsi.model.BusinessPackage">
        update businesspackage
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="groupid != null">
                groupid = #{groupid,jdbcType=INTEGER},
            </if>
            <if test="isdelete != null">
                isdelete = #{isdelete,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.edu.dbsi.model.BusinessPackage">
    update businesspackage
    set name = #{name,jdbcType=VARCHAR},
      groupid = #{groupid,jdbcType=INTEGER},
      isdelete = #{isdelete,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateIsDeleteByPrimaryKey" parameterType="cn.edu.dbsi.model.BusinessPackage">
    update businesspackage
    set isdelete = "1"
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>