<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.dbsi.dao.DataxTaskMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.dbsi.model.DataxTask" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="business_package_id" property="businessPackageId" jdbcType="INTEGER" />
    <result column="hive_address" property="hiveAddress" jdbcType="VARCHAR" />
    <result column="task_status" property="taskStatus" jdbcType="CHAR" />
    <result column="progress" property="progress" jdbcType="DOUBLE" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, business_package_id, hive_address, task_status, progress, create_time, finish_time,
    is_delete
  </sql>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from datax_task
    WHERE is_delete = 0
  </select>
  <select id="countTask" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select
    count(1)
    from datax_task
    WHERE is_delete = 0
  </select>
  <select id="selectPage" resultMap="BaseResultMap" parameterType="Map">
    select
    <include refid="Base_Column_List"/>
    from datax_task
    WHERE is_delete = 0
    <if test="start!=null and pagesize!=null">
      order by id desc limit #{start},#{pagesize}
    </if>

  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from datax_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from datax_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.dbsi.model.DataxTask" >
    insert into datax_task (id, name, business_package_id,
      hive_address, task_status,progress, create_time,
      finish_time, is_delete)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{businessPackageId,jdbcType=INTEGER}, 
      #{hiveAddress,jdbcType=VARCHAR}, #{taskStatus,jdbcType=CHAR},#{progress,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP},
      #{finishTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.dbsi.model.DataxTask" >
    insert into datax_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="businessPackageId != null" >
        business_package_id,
      </if>
      <if test="hiveAddress != null" >
        hive_address,
      </if>
      <if test="taskStatus != null" >
        task_status,
      </if>
      <if test="progress != null" >
        progress,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="finishTime != null" >
        finish_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="businessPackageId != null" >
        #{businessPackageId,jdbcType=INTEGER},
      </if>
      <if test="hiveAddress != null" >
        #{hiveAddress,jdbcType=VARCHAR},
      </if>
      <if test="taskStatus != null" >
        #{taskStatus,jdbcType=CHAR},
      </if>
      <if test="progress != null" >
        #{progress,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.dbsi.model.DataxTask" >
    update datax_task
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="businessPackageId != null" >
        business_package_id = #{businessPackageId,jdbcType=INTEGER},
      </if>
      <if test="hiveAddress != null" >
        hive_address = #{hiveAddress,jdbcType=VARCHAR},
      </if>
      <if test="taskStatus != null" >
        task_status = #{taskStatus,jdbcType=CHAR},
      </if>
      <if test="progress != null" >
        progress = #{progress,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null" >
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.dbsi.model.DataxTask" >
    update datax_task
    set name = #{name,jdbcType=VARCHAR},
      business_package_id = #{businessPackageId,jdbcType=INTEGER},
      hive_address = #{hiveAddress,jdbcType=VARCHAR},
      task_status = #{taskStatus,jdbcType=CHAR},
      progress = #{progress,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateIsDeleteByPrimaryKey" parameterType="cn.edu.dbsi.model.DataxTask">
    update datax_task
    set is_delete = "1"
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectLastPrimaryKey" resultType="java.lang.Integer">
    select id from datax_task order by id DESC limit 1
  </select>

</mapper>