<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.dbsi.dao.HiveTableInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.dbsi.model.HiveTableInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hive_table_info.table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="task_id" property="taskId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hive_table_info.table_name, task_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hive_table_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectTableNameBytask" resultType="java.lang.String"  parameterType="java.lang.Integer" >
    select
    hive_table_info.table_name
    from hive_table_info
    where task_id = #{task_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hive_table_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.dbsi.model.HiveTableInfo" >
    insert into hive_table_info (id, hive_table_info.table_name, task_id
      )
    values (#{id,jdbcType=INTEGER}, #{tableName,jdbcType=VARCHAR}, #{taskId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.dbsi.model.HiveTableInfo" >
    insert into hive_table_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tableName != null" >
        hive_table_info.table_name,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="businessPackageId != null" >
        #{businessPackageId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.dbsi.model.HiveTableInfo" >
    update hive_table_info
    <set >
      <if test="tableName != null" >
        hive_table_info.table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.dbsi.model.HiveTableInfo" >
    update hive_table_info
    set hive_table_info.table_name = #{tableName,jdbcType=VARCHAR},
      task_id = #{taskId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>