<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.dbsi.dao.SchemaMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.dbsi.model.Schema" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="table_names" property="tableNames" jdbcType="VARCHAR" />
    <result column="cube_id" property="cubeId" jdbcType="INTEGER" />
    <result column="default_measure_name" property="defaultMeasureName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="is_delete" property="isdelete" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, table_names, cube_id, default_measure_name, address, is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cube_schema
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectSchemaLastPrimaryKey" resultType="java.lang.Integer">
    select id from cube_schema order by id DESC limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cube_schema
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.dbsi.model.Schema" >
    insert into cube_schema (id, name, table_names,
      cube_id, default_measure_name, address,
      is_delete)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{tableNames,jdbcType=VARCHAR}, 
      #{cubeId,jdbcType=INTEGER}, #{defaultMeasureName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{isdelete,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.dbsi.model.Schema" >
    insert into cube_schema
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="tableNames != null" >
        table_names,
      </if>
      <if test="cubeId != null" >
        cube_id,
      </if>
      <if test="defaultMeasureName != null" >
        default_measure_name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="isdelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tableNames != null" >
        #{tableNames,jdbcType=VARCHAR},
      </if>
      <if test="cubeId != null" >
        #{cubeId,jdbcType=INTEGER},
      </if>
      <if test="defaultMeasureName != null" >
        #{defaultMeasureName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.dbsi.model.Schema" >
    update cube_schema
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tableNames != null" >
        table_names = #{tableNames,jdbcType=VARCHAR},
      </if>
      <if test="cubeId != null" >
        cube_id = #{cubeId,jdbcType=INTEGER},
      </if>
      <if test="defaultMeasureName != null" >
        default_measure_name = #{defaultMeasureName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        is_delete = #{isdelete,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.dbsi.model.Schema" >
    update cube_schema
    set name = #{name,jdbcType=VARCHAR},
      table_names = #{tableNames,jdbcType=VARCHAR},
      cube_id = #{cubeId,jdbcType=INTEGER},
      default_measure_name = #{defaultMeasureName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      is_delete = #{isdelete,jdbcType=CHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>