<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.dbsi.dao.SchemaDimensionMeasureMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.dbsi.model.SchemaDimensionMeasure" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dimension_id" property="dimensionId" jdbcType="INTEGER" />
    <result column="measure_group_id" property="measureGroupId" jdbcType="INTEGER" />
    <result column="foreign_key" property="foreignKey" jdbcType="VARCHAR" />
    <result column="is_foreign" property="isForeign" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dimension_id, measure_group_id, foreign_key, is_foreign
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from schema_dimension_measure
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from schema_dimension_measure
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.dbsi.model.SchemaDimensionMeasure" >
    insert into schema_dimension_measure (id, dimension_id, measure_group_id,
      foreign_key, is_foreign)
    values (#{id,jdbcType=INTEGER}, #{dimensionId,jdbcType=INTEGER}, #{measureGroupId,jdbcType=INTEGER},
      #{foreignKey,jdbcType=VARCHAR}, #{isForeign,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.dbsi.model.SchemaDimensionMeasure" >
    insert into schema_dimension_measure
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dimensionId != null" >
        dimension_id,
      </if>
      <if test="measureGroupId != null" >
        measure_group_id,
      </if>
      <if test="foreignKey != null" >
        foreign_key,
      </if>
      <if test="isForeign != null" >
        is_foreign,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dimensionId != null" >
        #{dimensionId,jdbcType=INTEGER},
      </if>
      <if test="measureGroupId != null" >
        #{measureGroupId,jdbcType=INTEGER},
      </if>
      <if test="foreignKey != null" >
        #{foreignKey,jdbcType=VARCHAR},
      </if>
      <if test="isForeign != null" >
        #{isForeign,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.dbsi.model.SchemaDimensionMeasure" >
    update schema_dimension_measure
    <set >
      <if test="dimensionId != null" >
        dimension_id = #{dimensionId,jdbcType=INTEGER},
      </if>
      <if test="measureGroupId != null" >
        measure_group_id = #{measureGroupId,jdbcType=INTEGER},
      </if>
      <if test="foreignKey != null" >
        foreign_key = #{foreignKey,jdbcType=VARCHAR},
      </if>
      <if test="isForeign != null" >
        is_foreign = #{isForeign,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.dbsi.model.SchemaDimensionMeasure" >
    update schema_dimension_measure
    set dimension_id = #{dimensionId,jdbcType=INTEGER},
      measure_group_id = #{measureGroupId,jdbcType=INTEGER},
      foreign_key = #{foreignKey,jdbcType=VARCHAR},
      is_foreign = #{isForeign,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>